
// Estilo Botton cambiar Tema 
.inputOne[type=checkbox] {
    visibility: hidden;
  }
  .inputOne[type=checkbox]:checked + .labelOne {
    transform: rotate(360deg);
    background-color: rgb(161, 166, 175);
  }
  .inputOne[type=checkbox]:checked + .labelOne:before {
    transform: translateX(60px);
    background-color: #fff;
  }
  
  .labelOne {
    display: flex;
    width: 100px;
    height: 40px;
    border: 3px solid;
    border-radius: 99em;
    position: relative;
    transition: transform 0.75s ease-in-out;
    transform-origin: 50% 50%;
    cursor: pointer;
  }
  .labelOne:before {
    transition: transform 0.75s ease;
    transition-delay: 0.5s;
    content: "";
    display: block;
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: rgb(122, 68, 209);
    border-radius: 50%;
    top: 3px;
    left: 2px;
  }