
// Estilo Botton cambiar Tema 
.inputOne[type=checkbox] {
    visibility: hidden;
  }
  .inputOne[type=checkbox]:checked + .labelOne {
    transform: rotate(360deg);
    background-color: #9CA3DB;
    
  }
  .inputOne[type=checkbox]:checked + .labelOne:before {
    transform: translateX(60px);
    background-color: #fff;
  }
  
  .labelOne {
    display: flex;
    width: 100px;
    height: 40px;
    border: 3px solid;
    border-radius: 99em;
    position: relative;
    transition: transform 0.75s ease-in-out;
    transform-origin: 50% 50%;
    cursor: pointer;
  }
  .labelOne:before {
    transition: transform 0.75s ease;
    transition-delay: 0.5s;
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    // background-color: rgb(122, 68, 209);
    background-image: url("../imagenes/circulo2tp.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 115%;
    border-radius: 50%;
    top: 2px;
    left: 2px;
  }
  //Button Go-Top
.goTop{
  position: fixed;
  margin-left: 85%;
  
}
// Btn ON - Top
.ir-arriba{
  display:none;
  background-repeat:no-repeat;
  font-size:20px;
  color:blueviolet;
  cursor:pointer;
  position:fixed;
  bottom:25rem;
  right:2rem;
  z-index:2;
}
//btn Check


