body {
    display: flex;
    flex-direction: column;
    /* background-image: url("../Multimedia/Png.jfif"); */
    background-color: whitesmoke;
    width: auto;
    height: 300vh;
}

.iconify{
    color: black;
}

label{
    width: 100%;
    letter-spacing: 1px;
    font-size: 1.2em;
}

input{
    text-align: left;   
}

h1{
    color:rgb(77, 16, 134);
    text-align: center;
    padding: 5px;
    font-size: 1.5em;
    margin-bottom: 2rem;
    margin-top: 2rem;
    border: 1px solid white;
    width: 25rem;
    border-radius: 0.5rem;
    letter-spacing: 3px;
    -moz-box-shadow: 1px 0px 7px #6d71bf;
    -webkit-box-shadow: 1px 0px 7px #6d71bf;
    box-shadow: 1px 0px 7px #6d71bf;   
    
}

h2{
    font-size: 1.2em;
    color: blueviolet;
}
h3{
    margin-top: 3rem;
    margin-bottom: 1rem;   
}

h4{
    font-size: 1.3em;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
/* Mobile Styles */
@media only screen and (max-width: 400px) { 
 
    
}
