body {
    display: flex;
    flex-direction: column;
    /* background-image: url("../Multimedia/Png.jfif"); */
    background-color: #C0D6DF;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: auto;
}
.iconify{
    color: black;
}

label{
    letter-spacing: 3px;
    font-size: 1.1em;
}
input{
    text-align: center;   
}

h1{
    color: rgb(77, 16, 134);
    text-align: center;
    padding: 5px;
    font-size: 1.5em;
    margin-bottom: 2rem;
    margin-top: 2rem;
    border: 3px solid whitesmoke;
    width: 25rem;
    border-radius: 0.5rem;
    letter-spacing: 4px;
   
    
}
h2{
    font-size: 1.2em;
    color: blueviolet;
}