
.logotp{
    @include flex-mov(flex,row);
    margin-right: 2rem;
    margin-top: 2.7rem;  
     
    .imgLogo{
        height: 2.5rem;
        margin-top: -1rem;
    }
    
}
#navText{
    letter-spacing: 1px;
    font-size: 1.5em;
    color: rgb(30, 108, 253);
    font-weight:500;
    
}
.iconosLogin{
    @include flex-mov(flex,row);
    margin-top: 2rem;
    gap:3rem;
    margin-right: 1rem;
}
#imgtp{
    margin-top: 1rem;
    height: 2.1rem;
}


/* Mobile Styles */
@media only screen and (max-width: 400px) { 

   
}
    
