
.headerApi{
    @include flex-mov(flex,row);
    width: 60%;
    gap: 3rem
   
}
.buscarApi{
    @include flex-mov(flex,row);
    width: 35%;
    gap:1rem;
}


/* Mobile Styles */
@media only screen and (max-width: 400px) { 
    .buscarApi{
        width: 90%;
    }
}