
.mostrarServicios{
    width: 80%;
    text-align: left;
}
.enviarServicios{
    @include flex-mov(flex,row);
    justify-content:flex-end;
    gap: 3rem;
    margin: 1rem;
    width: 40%;
}

.service{
    
    display: none;
    .mb-2{
        display: flex;
        flex-direction: row;
        gap:1rem
        
    }
    .label-check{
        color: blueviolet;    
    }
    
    .groupOne{
        
        width: 50%;
        
    }
    .groupTwo{
        width: 50%;
        display: none;
        
    }
    .textArea{
        width: 40%;
        display: none;
    }
    
.blocksix{
    gap: 2rem;
    @include flex-mov(flex,row);
}

.newForm{
   
    margin-left: 70%;
    width: 30%;
}
.adjuntar{
    display: none;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) { 
    
    .newForm{
        margin-left: 10%;
        width: 100%;
    }
    
    .service{
        
        .groupTwo{
            width: 80%;   
        }
     
}
.textArea{
    width: 70%;
}
}
}
