
.headerVisitas{
    margin-top: 3rem;
    margin-left: 1rem;
    @include flex-mov(flex,row);
    display: flex;
    flex-wrap: wrap;
}
.headerBuscar{
    width: 60%;
    @include flex-mov(flex,row);
    margin-top: 3rem;
    margin-bottom: 4rem;
    height: 6rem;
    gap: 3rem;
    
}

.btn-group{
    @include flex-mov(flex,row); 
    margin-right: 2rem;
    width: 10%;
    
}

/* Mobile Styles */
@media only screen and (max-width: 400px) { 
.headerVisitas{     
    @include flex-mov(flex,column-reverse);

    }
    .icos{
        margin-bottom: 2rem;       
    }   
}
.headerBuscar{
    justify-content: start;

}
